:root {
    --black: rgba(0,0,0,1);
    --white: rgba(255,255,255,1);

    --vsc-blue: rgba(0,122,204,1);

    --primary-dark: rgba(30,30,30,1);
    --secondary-dark: rgba(37,37,38,1);
    --third-dark: rgba(45,45,48,1);
    --fourth-dark: rgba(62,62,66);

    --default-font-color: rgba(255,255,255,1);
}

/*----------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    background-color: var(--primary-dark);
    color: var(--default-font-color);
}

a {
    text-decoration: none;
    color: var(--default-font-color);
}

/*----------*/
/* DEBUG/DEV PURPOSE */

.debug {
    border: 1px dashed rgba(255,0,0,1);
}

/*----------*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

button {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
}